	.ui-page .ui-header {
    	background: #112233 !important;
	}

	/* to get rid of the box shadow underneath text */
	.ui-body-c, .ui-overlay-c { 
		text-shadow:0 0 0; 
	}

	.ui-content {
	    padding-top: 5px;
	}


	.div-frontpage-logo {
		margin: 0 auto;
		text-align: center;
	}

	.div-frontpage-loading-text {
		margin: 0 auto;
		text-align: center;
	}

	.div-frontpage-loading {
		margin-top: 15px;
		/*padding-top: 20px;*/
		/*padding-bottom: 50px;*/
		text-align: center;
	}

	.span-frontpage-logo {
		width:100%;
		text-align: center;
	}

	.span-frontpage-loading-text {
		/*display: inline-block;*/
		font-size: 16px;
		text-align: center;

	}

/*	.span-frontpage-loading {
		top:50%;
		left:50%;
		background-color: red;
		text-align: center;
	}*/

/*	.spinner {
		margin: 0 auto;
		text-align: center;
	}*/
	.btn-logout {
		background: #112233 !important;
	}

	#add_button {
	    padding-top: 10px;
	    padding-bottom: 10px;
  	}

	#textarea {
		padding-bottom: 5px;
	} 

	.list {
		padding-top: 20px;
	}


	.posttext {
		padding-top: 15px;
		font-size: 16px;
		white-space: pre-wrap;
		text-shadow:0 0 0;
	}

	.itemcount {
		font-size: 12px;
	}

	#delete-post {
		float: right;
		font-size: 8px;
	}

	.div-posttext {
		float: left;
	}

	.postlist {
		border: 1px black;
	}

	.split-custom-wrapper {
	    /* position wrapper on the right of the listitem */
	    position: absolute;
	    right: 0;
	    top: 0;
	    height: 100%;
	}

	.split-button-loading {
		/*position: relative;*/
		/*background-color: red;*/
		padding-top:5px;
		float: right;
	}

	.split-button-custom {
	    float: right;
	    margin-right: 0px;
	    padding-left: 4px;
	    padding-right: 4px;
	    right:-40px;
	    border:none;
/*	    border-radius: 5px;*/
/*	    border-bottom-left-radius: 1em 1em;
	    border-bottom-right-radius: 1em 1em;
	    border-top-left-radius: 1em 1em;
	    border-top-right-radius: 1em 1em;  */
	    /*-webkit-transition: left 0.01s;
	    -moz-transition: left 0.01s; */
	}

/*	.split-button-custom.ng-hide-add, 
	.split-button-custom.ng-hide-remove {
	    -webkit-transition:0.5s linear all;
	    -moz-transition:0.5s linear all;
	    -o-transition:0.5s linear all;
	    transition:0.5s linear all;
	    display:block!important;
	}*/

/*	.split-button-custom span.ui-btn-inner {
	    border-bottom-left-radius: 1em 1em;
	    border-bottom-right-radius: 1em 1em;
	    border-top-left-radius: 1em 1em;
	    border-top-right-radius: 1em 1em;
	    padding-right: 0px;
	}*/

/*	.split-button-custom.ng-hide-remove {
	  opacity:0;
	}
	.split-button-custom.ng-hide-remove.ng-show-remove-active {
	  opacity:1;
	}
	.split-button-custom.ng-hide-add {
	  opacity:1;
	}
	.split-button-custom.ng-hide-add.ng-show-add-active {
	  opacity:0;
	}*/

	.split-button-custom span.ui-icon {
		background-color: #FF5252;
	    margin-top: 0px;
	    right: 0px;
	    top: 0px;
	    position: relative;
	}

	.div-list-header {
		font-size: 18px;
		font-weight: bold;
		padding-top: 20px;
		padding-bottom: 5px;
	}

	.span-cancel-delete {
		float: right;
	}


	.ui-block-a {
		max-width:100%;
		max-height:100%;
	}

	.ui-block-b {
		max-width:100%;
		max-height:100%;
	}

	.ui-block-c {
		max-width:100%;
		max-height:100%;
	}


	.btn-login-facebook {
		background-image: url("../img/facebookLogo.png") !important;
		background-size: contain;
		width: 88px;
		height: 88px;
	}

	.btn-login-twitter {
		background-image: url("../img/twitterLogo.png") !important;
		background-size: contain;
		width: 88px;
		height: 88px;
	}

	.btn-login-google {
		background-image: url("../img/googleLogo.png") !important;
		background-size: contain;
		width: 88px;
		height: 88px;
	}

	.div-login-icons {
		margin:0 auto;
	}

	.span-login-header {
		font-size: 18px;
		font-weight: bold;
	}

	.span-login-intro {
		font-size: 18px;
	}

	.div-loading-older-posts {
		/*border: 1px solid black;*/
		-moz-box-shadow:    inset 0 0 3px black;
   		-webkit-box-shadow: inset 0 0 3px black;
   		box-shadow:         inset 0 0 3px black;
		padding-top: 12px;
		padding-bottom: 12px;
		margin-top: 20px;
		text-align: center;
	}


	.div-field-contain {
		padding-top: 15px;
	}

	.div-add-button {
		padding-top: 10px;
	}

	.list-item.synced-remove {
	  -webkit-transition:0.5s linear all;
	  -moz-transition:0.5s linear all;
	  -o-transition:0.5s linear all;
	  transition:0.5s linear all;
	}

    .list-item.synced,
    .list-item.synced-remove {
        background: #45A8FF !important
    } 

    .list-item.synced-remove.synced-remove-active {
      background: white !important;
    }

    .list-item.swipe-left {
    	left:-40px;
    }

    .list-item.ng-leave {
    	-webkit-transition: 0.4s linear all;
		-moz-transition: 0.4s linear all;
		-o-transition: 0.4s linear all;
		transition: 0.4s linear all;
		position:relative;
    }

    .list-item.ng-leave {
		left:-48px;
		opacity:1;
	}

	.list-item.ng-leave.ng-leave-active {
		left:-80px;
		opacity:0;
	}

	.list-item.ng-move {
		opacity:0.5;
	}

	.list-item.ng-move.ng-move-active {
		opacity:1;
	}

	.list-item {
		border: 5px black;
	}



